
* {
	margin: 0;
	padding: 0;
}

hr {
	border-top: 1px solid #5B9BD5;
	height: 0px;
	margin: 3% auto 0 auto;
	width: 80%;
}

html, body  {
	height: 100%;
	font-family: 'Ubuntu', Arial;
}

#container {
	padding-bottom: 30px;
	margin: auto;
	margin-top: 10px;
	width: 90%;
}

#header {
	background: #323F4F;
	margin: auto;
	top: 0;
	width: 90%;
}

#footer {
	background: #323F4F;
	bottom: 0;
	display: table;
	height: 30px;
	margin-left: 5%;
	position: absolute;
	width: 90%;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

.btn-princ {
	background: #5B9BD5;
	border: 2px solid #5B9BD5;
	color: black;
}

.btn-princ:hover {
	background: #bbb;
	border: 2px solid #bbb;
	color: #323F4F;
}

.btn-large {
	font-size: 1.1em;
	height: 30px;
}

.centered {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.display-prod {
	margin: auto;
	margin-top: 10%;
	width: 90%;
}

.display-prod-left {
	float: left;
	width: 30%;
}

.display-prod-right {
	float: right;
	height: 200px;
	width: 69%;
}

.dropbtn {
  background: #777;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  height: 25px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #ccc;
  color: black;
}

.img-produto {
	border: 1px solid black;
	height: 200px;
	width: 200px;
}

.logo {
	height: 60px;
	margin: 10px auto 10px 10px;
}

.membro-equipa {
	border-radius: 50%;
	height: 150px;
	width: 150px;
}

.menu a {
	color: white;
	text-decoration: none;
}

.menu a:hover, .tab-centrada a:hover {
	color: #4991C8;
}

.menu ul {
	list-style-type: none;
}

.menu li {
	display: inline;
}

.navbar {
	background: #4991C8;
	display: block;
	height: 30px;
}

.nav-active {
	background: #323F4F;
}

.nav-inactive {
	background: #4991C8;
	color: black !important;
}

.navbar li {
	display: table-cell;
	height: 30px;
	vertical-align: middle;
	padding: 0 15px;
}

.navbar a {
	text-decoration: none;
}

.navbar:hover { /* TODO - fazer isto*/
	color: pink;
}

.nav-active a {
	color: white;
}

.nav-inactive a {
	color: black;
}

.nav-inactive a:hover {
	color: white !important;
}

.order {
	bottom: 30px;
	float: right;
	margin: auto;
	position: relative;
	text-align: center;
	width: 69%;
}

.order-item {
	margin: auto 10px;
	text-align: center;
}

.page-nr {
	background: #4991C8;
	color: white;
	display: inline;
	height: 20px;
	margin: 0 1px;
	text-align: center;
	width: 20px;
}


.search-bar {
	background: white;
	border: 1px solid white;
	height: 25px;
	width: 200px;
	float: left;
}

.search-box {
	display: inline-block;
	float: right;
	margin-right: 30px;
	margin-top: 4px;
	position: relative;
}

#search-button {
	background: rgba(0,0,0,0);
	border: 1px solid white;
	float: right;
	height: 25px;
	position: absolute;
	width: 25px;
}

#search-icon {
	position: absolute;
	height: 25px;
	width: 25px;
	float: right;
}

.search-button-container {
	position: relative;
	width: 20px;
}

.sub-navbar {
	float: left;
	width: 100%;
}

.tab-centrada {
	margin: auto;
	text-align: center;
	width: 100%;
}

.tab-centrada a {
	color: black;
	text-decoration: none;
}

.tab-centrada img {
	margin-bottom: 2%;
}

.tab-centrada-peq {
	margin: auto;
	margin-bottom: 2%;
	text-align: left;
}

.tab-centrada-peq td {
	padding: 0 10px;
}

.tab-login {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	width: auto;
}

.text-input-small {
	font-size: 1.2em;
	height: 30px;
	width: 40px;
}

.texto-produtos {
	width: 200px;
}

.titulo-centrado {
	padding: 2% 0;
	text-align: center;
}

.with-separator {
	border-right: 1px solid white;
	padding-right: 5px;
}