html {
  background-color: #B8ECEF;  
}

body {
  width: 40em;
  margin: auto;
  background-color: white;
}

header {
  background-color: #333;
  padding: 10px;
}

header a {
  text-decoration: none;
  color: white;  
}

header h1 {
  margin: 0;
}

header form {
  display:inline;
  float: right;
}

header .username {
  color: cyan;
}

header input[type=text],
header input[type=password] {
  width: 100px;
}

label {
  width: 100px;
  display: block;  
}

section {
  padding: 10px 20px;
}

section h2 {
  margin: 5px 0;
}

/*
.tweet-data {
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 5px;
} */

.error {
  background-color: #FFAAAA;
  padding: 10px;
  color: #333;
  font-weight: bold;
}

.success {
  background-color: #AAFFAA;
  padding: 10px;
  color: #333;
  font-weight: bold;
}

.tweet-data {
  padding: 10px 0;
  border-bottom: 1px solid #999;
	position: relative;
}

.tweet-data .time {
  position: absolute;
  right: 0;
}

.tweet-data .realname {
  font-weight: bold;
}

.tweet-data .username {
  color: #666;
}

.tweet-data .tweet-text {
  margin-top: 5px;
}
