html, body {
	margin:  0;
	padding: 0;
}

header {
	background: #323F4F;
	top: 0;
}

header a {
	color: white;
	text-decoration: none;
}

header form {
	border: 1px solid red;
  display:inline;
  float: right;
  margin: 0.5em;
	padding: 0 !important;
}

header input[type=submit] {
	background-color: #4991C8;
	border: 2px solid #4991C8;
	color: white;
	margin: 0 !important;
}

header input[type=text],
header input[type=password] {
  width: 10em !important;
  margin: 0 !important;
  padding: 0 !important;
}

header .username {
  color: white;
}

header .register {
	background-color: #4991C8;
	border: 2px solid #4991C8;
	color: white;
	width: 5em;
	text-align: center;
	float: right;
	margin-left: 0.2em;
	vertical-align: center;
	height: 1.05em;
}

label {
	display: inline-block;
	width: 8em;
}

form input[type=text],
form input[type=email] {
	width: 25em;
	margin: 0.2em 0;
}

form .small {
	width: 13em !important;
}

form input[type=submit] {
	margin-top: 1em;
	margin-left: 8em;
}

#container {
	border: 1px solid blue;
}

#error_messages a {
  text-decoration: none;
}

#footer {
	background: #323F4F;
	bottom: 0;
	display: table;
	height: 30px;
	margin-left: 5%;
	position: absolute;
	width: 90%;
}

#logo {
	margin: 10px;
	width: 20%;
}

#success_messages a {
  text-decoration: none;
}

#wrapper {
	width: 60em;
	margin: auto;
}

.active {
	background-color: #323F4F !important;
}
.active a {
	color: white !important;
}

.details-prod {
	margin: auto;
	margin-top: 10%;
	width: 90%;
}

.details-prod-left {
	float: left;
	width: 30%;
}

.details-prod-right {
	float: right;
	height: 200px;
	width: 69%;
}

.developer {
	border: 1px solid red;
	display: inline-block;
	text-align: center;
	width: 49%;
	margin: 3% auto;
}

.developer a {
	color: black;
	text-decoration: none;
}

.developer-photo {
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

.developers {
	display: inline;
}

.download-icons {
	width: 100%;
	margin: 0 auto;
}

.download-icons img {
	border: 1px solid red;
	height: 10em;
	padding: 0 7%;
	margin: 0 auto;
	display: inline-block;
}

.error {
  background-color: #FFAAAA;
  padding: 10px;
  color: #333;
  font-weight: bold;
}

.login-info {
	margin: auto;
}

.login-info td {
	font-size: 1.2em;
	padding: 0 1em;
}

.menu li a {
	color: white;
	margin-left: 0;
	text-decoration: none;
}

.menu li {
	border: 1px solid red;
	display: inline;
	padding: 0.5em 1.5em;
	margin: 0;
}
.menu a.selected:link, .menu a.selected:active {  
	background-color: #fff;
}

.menu ul {
	border: 1px solid red;
	list-style-type: none;
	margin: 0;
	padding: 0.5em 0;
}

.navbar {
	background-color: #4991C8;
}

.optimized-for {
	margin: 1em;
}

.optimized-for span {
	font-size: 1.5em;
	font-weight: bold;
}

.optimized-for ul {
	width: 10em;
	margin: auto;
}

.page_numbers {
	background-color: #4991C8;
	color: white;
	display: inline;
	margin: 0.5em 0.1em;
	padding: 0.5em
}

.page_numbers a {
	color: #323F4F;
	text-decoration: none;
}

.page-info {
	text-align: center;
	width: 100%;
}

.product-data {
	border: 1px solid red;
	display: inline-block;
	padding: 2%;
	margin: 0 auto;
	width: 20%;
}

.product-data img {
	display: block;
	width: 100%;
}

.product-img {
	border: 1px solid black;
}

.success {
  background-color: #AAFFAA;
  padding: 10px;
  color: #333;
  font-weight: bold;
}

.tab-product-data {
	width: 100%;
}

.tab-product-data .price {
	float: right;
}

.version {
	font-size: 2em;
	font-weight: bold;
}
