html, body {
	margin:  0;
	padding: 0;
}

header {
	background: #323F4F;
	top: 0;
}

#container {
	border: 1px solid blue;
}

#logo {
	margin: 10px;
	width: 20%;
}

#wrapper {
	width: 60em;
	margin: auto;
}

.product-data {
	border: 1px solid red;
	display: inline-block;
	padding: 2%;
	margin: 0 auto;
	width: 20%;
}

.product-data img {
	display: block;
	width: 100%;
}

.product-img {
	border: 1px solid black;
}

.tab-product-data {
	width: 100%;
}

.tab-product-data .price {
	float: right;
}